.form-container {
    margin: 120px auto;
    max-width: 351px;
    padding: 20px;
    text-align: center;
    background: white;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group-2 {
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
  }

  .form-input {
    width: 100%;
    padding: 13px 10px;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
  }
  .form-input-2 {
    width: 85%;
    padding-bottom: 13px;
    border-radius: 3px;
    border: none;
    outline: none;
  }

  .eye {
    display: grid;
        right: -45%;
        padding-top: 10px;
  }
  
  .login-button {
    color: #ffffff;
    background-color: #e57e38;
    margin-top: 5px;
    border: none;
    border-radius: 0;
    padding: 13px 26px;
    font-weight: bold;
    cursor: pointer;
  }